.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.jumbotron {
  background-image: url("./img/intro.jpg");
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
}

.searchSection{
  width: 50vw;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.searchSectionIcon{
  margin-top: 9px;
  color: white;
}

.eventList {
  display: inline-block;
  width: 100vw;
}

.eventListTable {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.eventDetails {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: left;
  border: 1px solid;
}

.eventDetails > h1 {
  margin-bottom: 13px;
  text-align: center;
}

.eventDetailsItems{
  height: 40vh;
  padding: 20px;
  overflow: hidden;
}

.map-iframe {
  display: block;
  width: 100%;
  height: 385px;
  margin-top: 15px;
}

.buttonContainer{
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.btn {
  text-align: center !important;
  vertical-align: middle;
  margin-right: 50px;
}

.btnCalendar{
  color: #FF00A4;
  border: #FF00A4 1px solid
}

.eventBtn{
  background-color: #FF00A4 !important;
  color: white !important;
  border:0;
}

.material-icons {
  text-align: center !important;
  vertical-align: middle;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
