.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbarColor{
  background-color: #151515;
  color: white;
}

.jumbotron {
  background-image: url("./img/intro.jpg");
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
}

.jumbotronContainer{
    background-color: #FF00A4 !important;
    vertical-align: middle;
    color: white;
    margin:0;
    border: 0;
    padding: 5px;
    min-width: 200px;
    border-radius: 2%;
}

.jumbotronIcon{
  position: relative;
   vertical-align: center;
  font-size: 24px;
}


.jumbotronLocation{
  position: relative;
  margin: 0;
  vertical-align: center;
  font-size: 18px;
}

.services {
  background-color: #151515;
  height: 250px;
  padding-top: 20px;
}

.servicesIcon{
  color : #FF00A4;
  font-size: 60px;

}

.services h3{
    color: white;
}

.services p {
  color: #878787;
}

.searchSection{
  position: fixed;
  top: 5px;
  right: 10px;
}

.searchSectionIcon{
  margin-top: 9px;
  color: white;
}

.locationDropdown{
  min-width: 250px;
}

.eventList {
  display: inline-block;
  width: 100vw;
}

.eventListTable {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.eventDetails {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: left;
  border: 1px solid;
  margin-top: 20px;
}

.eventDetails > h1 {
  margin-bottom: 13px;
  text-align: center;
}

.eventDetailsItems{
  height: 40vh;
  padding: 20px;
  overflow: hidden;
}

.map-iframe {
  display: block;
  width: 100%;
  height: 385px;
  margin-top: 15px;
}

.buttonContainer{
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.btn {
  text-align: center !important;
  vertical-align: middle;
  margin-right: 50px;
}

.btnCalendar{
  color: #FF00A4;
  border: #FF00A4 1px solid
}

.btnCalendar a {
  text-decoration: none;
  color: #FF00A4;
}

.btnCalendar a:hover{
  background-color: transparent;
}

.eventBtn{
  background-color: #FF00A4 !important;
  color: white !important;
  border:0;
}

.calendarIcons {
  text-align: center !important;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card {
  margin-top: 50px;
}

.eventDetails {
  background-color: lightgray;
}

.eventWrapper {
  background-image: url(img/4.png)
}